<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{show['title']}}</title>
</head>
<body>
    <div class="header">
        <div>
            <a href="/dashboard"><button class="button">TV Shows</button></a>
            <a href="/logout"><button class="button">Logout</button></a>
        </div>
    </div>

    <div class="container column">
        <h3>{{show['title']}}</h1>
        <p>Network: {{show['network']}}</p>
        <p>Release Date: {{show['release_date']}}</p>
        <p>Description: {{show['description']}}</p>
        <p>Posted By: {{user['first_name']}} {{user['last_name']}}</p>
    </div>
    
</body>
</html>