<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
</head>
<body>
    <div class="container my-5">
        <table class=" table table-dark table-bordered">
            <tr>
                <th>User {{user_info['id']}}</th>
            </tr>
            <tr>
                <td>{{user_info['first_name']}} {{user_info['last_name']}}</td>
            </tr>
            <tr>
                <td>{{user_info['email']}}</td>
            </tr>
            <tr>
                <td>{{user_info['created_at']}}</td>
            </tr>


        </table>
        <a href="/read/all">Home</a>
        <a href="/edit/{{user_info['id']}}">Edit</a>
        <a href="/delete/{{user_info['id']}}">Delete</a>
    </div>
</body>
</html>