<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    
    <div class="container">
        <div class="sub-container">
            <div class="row">
                <p>Your Name:</p>
                <p>@ViewBag.Name</p>
            </div>
            <div class="row">
                <p>Dojo Location:</p>
                <p>@ViewBag.Location</p>
            </div>
            <div class="row">
                <p>Favorite Language:</p>
                <p>@ViewBag.Language</p>
            </div>
            <div class="col">
                <p>Comments:</p>
                <p id="comment">@ViewBag.Comment</p>
            </div>
            <a href="/"><button class="box-shadow-button">Home</button></a>
        </div>
    </div>


</body>
</html>