@{
    ViewData["Title"] = "Home Page";
}

<div class="w-75 my-0 mx-auto d-flex justify-content-between">
    <div>
        <partial name="_RegPartial"/>
    </div>
    <div>
        <partial name="_LogPartial"/>
    </div>
</div>
